AWS credentials
TF_VAR_aws_access_key=xxxxxxxxxxxxxx
TF_VAR_aws_secret_key=xxxxxxxxxxxxxx
TF_VAR_aws_token=xxxxxxxxxxxxxx

#Azure credentials
#Create a service principal using the Azure CLI 
#The SP should use the role "Contributor" and your Azure for Students subscription as the scope
#https://learn.microsoft.com/en-us/cli/azure/azure-cli-sp-tutorial-1?tabs=bash#create-a-service-principal-with-role-and-scope
TF_VAR_azure_subscription_id=xxxxxxxxxxxxxx
TF_VAR_azure_client_id=xxxxxxxxxxxxxx
TF_VAR_azure_client_secret=xxxxxxxxxxxxxx
TF_VAR_azure_tenant_id=xxxxxxxxxxxxxx

#The location for the docker socker where the docker provider needs to connect to
#You might have to change this, depending on the OS you're running on and the location of your docker socket
TF_VAR_docker_sock=/var/run/docker.sock